USE [master]
GO

IF exists(SELECT * FROM sysdatabases WHERE NAME = 'CRM')
	DROP DATABASE CRM
GO

/****** Object:  Database [CRM02] ******/
CREATE DATABASE [CRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_walcool', FILENAME = N'D:\HCSDL\CSDL\QL_maxeight.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_walcool_log', FILENAME = N'D:\HCSDL\CSDL\QL_maxeight_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM]
GO

/******  Table [dbo].[KHACHHANG] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[id_KHACHHANG] Varchar(6) NOT NULL, UNIQUE ([id_KHACHHANG]),
	[ten_KHACHHANG] Nvarchar(40) NOT NULL,
	[gioiTinh] Bit NULL,
	[ngaySinh] Datetime NULL,
	[diaChiThuongTru] Nvarchar(100) NULL,
	[CCCD] Varchar(20) NOT NULL, UNIQUE ([CCCD]),
	[maBuuChinh] Varchar(10) NULL,
	[email] Varchar(30) NOT NULL, UNIQUE ([email]),
	[soDienThoai] Varchar(10) NOT NULL, UNIQUE ([soDienThoai]),
	[idMUCTHUNHAP] Integer NOT NULL,
	[idNGHENGHIEP] Integer NOT NULL,
	[idDOTUOI] Integer NOT NULL,
	[idQUAN] Integer NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[id_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/******  Table [dbo].[SANPHAM] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[idSANPHAM] Integer NOT NULL, UNIQUE ([idSANPHAM]),
	[tenSANPHAM] Nvarchar(40) NOT NULL, UNIQUE ([tenSANPHAM]),
	[donGia] Float NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[idSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/******  Table [dbo].[DONHANG] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[idDONHANG] Integer NOT NULL, UNIQUE ([idDONHANG]),
	[id_KHUYENMAI] Varchar(6) NOT NULL,
	[id_KHACHHANG] Varchar(6) NOT NULL,
	[ngay_tao] Datetime NULL,
	[tongTien] Float NULL,
	[trang_thai] Nvarchar(50) NULL,
	[id_NHANVIEN] Varchar(6) NOT NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[idDONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CHITIETDONHANG] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[idSANPHAM] Integer NOT NULL,
	[idDONHANG] Integer NOT NULL,
	[soLuong] Integer NULL,
	[giaBan] Float NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[idSANPHAM] ASC,
	[idDONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[QUAN] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN](
	[idQUAN] Integer NOT NULL,
	[tenQUAN] Nvarchar(50) NULL,
 CONSTRAINT [PK_QUAN] PRIMARY KEY CLUSTERED 
(
	[idQUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[MUCTHUNHAP] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCTHUNHAP](
	[idMUCTHUNHAP] Integer NOT NULL, UNIQUE ([idMUCTHUNHAP]),
	[muc_NhoNhat] Integer NULL,
	[muc_LonNhat] Integer NULL,
 CONSTRAINT [PK_MUCTHUNHAP] PRIMARY KEY CLUSTERED 
(
	[idMUCTHUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[NHANVIEN] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[id_NHANVIEN] Varchar(6) NOT NULL, UNIQUE ([id_NHANVIEN]),
	[ten_NHANVIEN] Nvarchar(50) NULL,
	[soDienThoai] Nvarchar(20) NULL,
	[_email] Nvarchar(50) NULL,
	[hinhanh] Varchar(MAX) NULL,
	[_username] Nvarchar(50) NOT NULL, UNIQUE ([_username]),
	[_password] Nvarchar(50) NULL,
	[idLOAINHANVIEN] Integer NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[id_NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[KHUYENMAI] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[id_KHUYENMAI] Varchar(6) NOT NULL,UNIQUE ([id_KHUYENMAI]),
	[ten_KHUYENMAI] Nvarchar(50) NULL,
	[theo_PhanTram] Float NULL,
	[ngay_BatDau] Datetime NULL,
	[ngay_KetThuc] Datetime NULL
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[id_KHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[XEPLOAI] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[idLOAIKHACHHANG] Integer NOT NULL,
	[tenXEPLOAI] Nvarchar(50) NULL,UNIQUE ([tenXEPLOAI]),
	[diem_NhoNhat] Integer NULL,
	[diem_LonNhat] Integer NULL,
 CONSTRAINT [PK_XEPLOAI] PRIMARY KEY CLUSTERED 
(
	[idLOAIKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LOAIKHACHHANG] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEPLOAIKHACHHANG](
	[id_KHACHHANG] Varchar(6) NOT NULL,
	[idLOAIKHACHHANG] Integer NOT NULL,
	[TongDiemTichLuy] Float NULL,
 CONSTRAINT [PK_LOAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[id_KHACHHANG] ASC,
	[idLOAIKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DIEMTICHLUY] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTICHLUY](
	[id_KHACHHANG] Varchar(6) NOT NULL,
	[Nam] Datetime NOT NULL,
	[TongDiemNam] Float NULL,
 CONSTRAINT [PK_DIEMTICHLUY] PRIMARY KEY CLUSTERED 
(
	[id_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CHITIETTICHLUY] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTICHLUY](
	[idDONHANG] Integer NOT NULL,
	[id_KHACHHANG] Varchar(6) NOT NULL,
	[Diem] Float NULL
 CONSTRAINT [PK_CHITIETTICHLUY] PRIMARY KEY CLUSTERED 
(
	[idDONHANG] ASC,
	[id_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LOAINHANVIEN] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[idLOAINHANVIEN] Integer NOT NULL,
	[tenLOAINHANVIEN] Nvarchar(50) NULL,UNIQUE ([tenLOAINHANVIEN]),
 CONSTRAINT [PK_LOAINHANVIEN] PRIMARY KEY CLUSTERED 
(
	[idLOAINHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([id_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([id_KHACHHANG])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([id_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([id_NHANVIEN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CONSTRAINT [FK_DONHANG_KHUYENMAI] FOREIGN KEY([id_KHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([id_KHUYENMAI])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHUYENMAI]
GO

ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CONSTRAINT [FK_KHACHHANG_QUAN] FOREIGN KEY([idQUAN])
REFERENCES [dbo].[QUAN] ([idQUAN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_QUAN]
GO

ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CONSTRAINT [FK_KHACHHANG_MUCTHUNHAP] FOREIGN KEY([idMUCTHUNHAP])
REFERENCES [dbo].[MUCTHUNHAP] ([idMUCTHUNHAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_MUCTHUNHAP]
GO

ALTER TABLE [dbo].[XEPLOAIKHACHHANG]  WITH CHECK ADD CONSTRAINT [FK_LOAIKHACHHANG_KHACHHANG] FOREIGN KEY([id_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([id_KHACHHANG])
GO
ALTER TABLE [dbo].[XEPLOAIKHACHHANG] CHECK CONSTRAINT [FK_LOAIKHACHHANG_KHACHHANG]
GO

ALTER TABLE [dbo].[XEPLOAIKHACHHANG]  WITH CHECK ADD CONSTRAINT [FK__XEPLOAIKHACHHANG_LOAIKHACHHANG] FOREIGN KEY([idLOAIKHACHHANG])
REFERENCES [dbo].[LOAIKHACHHANG] ([idLOAIKHACHHANG])
GO
ALTER TABLE [dbo].[XEPLOAIKHACHHANG] CHECK CONSTRAINT [FK__XEPLOAIKHACHHANG_LOAIKHACHHANG]
GO

ALTER TABLE [dbo].[CHITIETTICHLUY]  WITH CHECK ADD CONSTRAINT [FK_CHITIETTICHLUY_DONHANG] FOREIGN KEY([idDONHANG])
REFERENCES [dbo].[DONHANG] ([idDONHANG])
GO
ALTER TABLE [dbo].[CHITIETTICHLUY] CHECK CONSTRAINT [FK_CHITIETTICHLUY_DONHANG]
GO

ALTER TABLE [dbo].[CHITIETTICHLUY]  WITH CHECK ADD CONSTRAINT [FK_CHITIETTICHLUY_DIEMTICHLUY] FOREIGN KEY([id_KHACHHANG])
REFERENCES [dbo].[DIEMTICHLUY] ([id_KHACHHANG])
GO
ALTER TABLE [dbo].[CHITIETTICHLUY] CHECK CONSTRAINT [FK_CHITIETTICHLUY_DIEMTICHLUY]
GO

ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CONSTRAINT [FK_CHITIETDONHANG_SANPHAM] FOREIGN KEY([idSANPHAM])
REFERENCES [dbo].[SANPHAM] ([idSANPHAM])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_SANPHAM]
GO

ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CONSTRAINT [FK_CHITIETDONHANG_DONHANG] FOREIGN KEY([idDONHANG])
REFERENCES [dbo].[DONHANG] ([idDONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONHANG]
GO

ALTER TABLE [dbo].[DIEMTICHLUY]  WITH CHECK ADD CONSTRAINT [FK_DIEMTICHLUY_KHACHHANG] FOREIGN KEY([id_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([id_KHACHHANG])
GO
ALTER TABLE [dbo].[DIEMTICHLUY] CHECK CONSTRAINT [FK_DIEMTICHLUY_KHACHHANG]
GO

ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN] FOREIGN KEY([idLOAINHANVIEN])
REFERENCES [dbo].[LOAINHANVIEN] ([idLOAINHANVIEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN]
GO

USE [master]
GO
